:host {
	width: 100%;
	height: 100%;
	display: block;

	#main-wrapper {
		cursor: pointer;
		color: var(--color-white);
		
		&:hover {
			background-color: var(--color-gray-light);
			color: var(--color-black);
		}

		.icon {
			font-size: 48px;
		}
		
		h4 {
			margin: 0;
		}
	}
}