<div class="py-3" id="main-wrapper" class="d-flex--centralize h-100">
		<!-- <ion-icon name="{{icon}}"></ion-icon> -->
		<!-- <span class="mi mi-face"></span> -->
		<span class="material-icons icon mr-3">{{icon}}</span>
		<h4>{{label}}</h4>
</div>