<div id="main-wrapper" class="min-vh-100">
	<div id="background-image" class="vw-100 vh-100"></div>
	<div id="header" class="mx-3 d-flex">
		<div id="logo">
			<img src="../assets/sqool_logo-white.png" alt="">
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-4 menu-item">
					<app-menu-item label="Escolas" icon="school"></app-menu-item>
				</div>
				<div class="col-sm-4 menu-item">
					<app-menu-item label="Turmas" icon="group"></app-menu-item>
				</div>
				<div class="col-sm-4 menu-item">
					<app-menu-item label="Alunos" icon="person"></app-menu-item>
				</div>
			</div>
		</div>
	</div>
	<div id="body">
		<router-outlet></router-outlet>
	</div>
</div>
