#main-wrapper {
	position: relative;

	#background-image {
		z-index: -1;
		opacity: 0.3;
		position: absolute;
		top: 0;
		left: 0;
		background-color: var(--color-gray);
		background-image: url('../assets/main-background.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: auto 100%;
		// min-height: 100vh;
	}

	#header {
		border-radius: 0px 0px 30px 30px;
		background-color: var(--color-gray-dark);
		min-height: 96px;

		#logo {

			img {
				@extend .h-128px;
				cursor: pointer;
			}
		}

		.menu-item{
			@extend .h-128px;
		}
	}
}

.h-128px {
	height: 128px;
}

p {
	color: red;
}
