:host {
	> div {
		justify-content: center;

		#main-text {
			background-color: var(--color-gray-dark);
			color: var(--color-white);
			border-radius: 30px;
			margin-top: 100px;

			p:last-child {
				margin-bottom: 0;
			}
		}
	}
}