<div class="d-flex">
	<div id="main-text" class="p-3">
		<h3>SQOOL - Gerenciamento</h3>
		<p><b>{{schoolCount || 0}}</b> escolas</p>
		<p><b>{{schoolGroupCount || 0}}</b> turmas</p>
		<p><b>{{studentCount || 0}}</b> alunos</p>
	</div>
</div>
