:host {
	div {
		position: fixed;
		top: 0;
		left: 0;
		align-items: center;
		justify-content: center;
		height: 100vh;
		width: 100vw;
		background-color: rgba(0,0,0,0.5);
		z-index: 1;

		ion-spinner {
			color: var(--color-white);
		}
	}
}