/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
// @import "node_modules/ionicons/dist/scss/ionicons";
@import './core/theme/variables.scss';
$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';

$color-gray: #999999;
:root {
	--color-gray: #999999;
	--color-gray-light: #d6d6d6;
	--color-gray-dark: #6e6e6e;

	--color-white: #f2f2f2;
	--color-black: #2e2e2e;

	--color-danger: #ff6652;
	--color-danger-light: #ffa396;
	--color-danger-dark: #c92d18;

	--color-warning: #ffef57;
	--color-warning-light: #fff596;
	--color-danger-dark: #decb18;

	--color-success: #70f229;
	--color-success-light: #91ffe7;
	--color-success-dark: #05e3b2;

	--color-primary: #02b6e3;
	--color-primary-light: #4fdcff;
	--color-primary-dark: #08a1c7;
}

.d-flex--centralize {
	display: flex !important;
	align-items: center;
	justify-content: center;
}

.material-icons {
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
